# Dependencies
node_modules/

# Environment variables
.env

# System Files
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Logs
*.log
npm-debug.log*

# Editor directories
.idea/
.vscode/
*.swp
*.swo

# Scripts
convert-images.js
test-jimp.js

package-lock.json